.hallOfFame {
  background-color: rgba(255, 255, 204, 0.9);
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hallOfFame h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.rankList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
  width: 100%;
  background-color: #f9f9f9;
}

.rankItem {
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  background-color: rgba(100, 58, 44, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.rankCont {
  margin-top: 10px;
  padding: 5px;
  background-color: #fffbe6;
  border: 1px solid #ffeb3b;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
  min-height: 20vh;
}

.topCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(100, 58, 44, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.topTitle {
  color: #ffffff;
  text-decoration-line: underline;
  text-emphasis: triangle open;
  text-decoration-style: double;
  text-decoration-color: #e0ed64;
  text-emphasis-color: #fff7b4;
}

.bestUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255 244 0 / 33%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border: 1px solid #ffeb3b;
  border-radius: 4px;
}
.bestUser h3 {
  color: #795500;
  text-decoration-line: overline;
  text-emphasis-style: triangle;
  text-emphasis-position: under right;
}

.hallOfFameOverlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nextButton {
  background-color: var(--background);
  color: var(--buton-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.hallOfFameSection {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-height: 786px) {
  .rankCont {
    height: 40vh;
  }
}
@media (max-height: 578px) {
  .rankCont {
    height: 58vh;
    width: 55vh;
  }
}
@media (max-height: 498px) {
  .rankCont {
    height: 45vh;
    padding: 0;
    margin: 0;
  }
  .rankCont h2 {
    font-size: 15px;
  }
  .rankCont h3 {
    font-size: 12px;
  }
  .rankList {
    font-size: 10px;
  }
  .bestUser p {
    font-size: 10px;
  }
}
