.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    padding: 50px 200px 50px 200px
  }
  
  .enterButton {
    background-color: #6c5ce7;
    color: #fff;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(108, 92, 231, 0.3);
  }
  
  .enterButton:hover {
    background-color: #4834d4;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(108, 92, 231, 0.5);
  }

  @media (max-width: 765px) {
    .description{
      padding: 50px 150px 50px 150px
    }
  }

  @media (max-width: 509px) {
    .description{
      padding: 50px
    }
  }

  @media (max-width: 310px) {
    .description{
      padding: 26px
    }
  }